<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href="/assets/css/style.css" type='text/css'/>
    <title>Main</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/frontend.js"></script>
</head>
<body>
    {{{body}}}
    
</body>
</html>